.body {
  background-color: #f2f2f2;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 410px;
  height: 560px;
  background-color: white;
  border-radius: 40px;
  padding: 40px;
}

.container {
  text-align: center;
}

.container h1 {
  color: #09184D;
  font-size: 36px;
}

.container form button {
  width: 28%;
  padding: 10px;
  background-color: #09184D;
  color: white;
  border: none;
  border-radius: 10px;
}

.container form label {
  display: block;
  margin-bottom: 5px;
}

.container form input[type="email"],
.container form input[type="text"] {
  width: 300px;
  padding: 7px;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
}

.container form label {
  text-align: left;
  padding-left: 49px;
}
